.Card {
  @media screen and (min-width: 1000px) {
    display: flex;
  }
}

.CardInfo {
  @media screen and (min-width: 1000px) {
    margin-left: 20px;
  }
}

.Title {
  font-weight: bold;
}

.Genres {
  display: flex;
}

.GenresItem:not(:last-child) {
  margin-right: 5px;
}
